/* start of external */

@font-face {
    font-family: 'Plain Germanica';
    src: url('../fonts/PlainGermanica.eot');
    src: url('../fonts/PlainGermanica.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlainGermanica.woff2') format('woff2'),
        url('../fonts/PlainGermanica.woff') format('woff'),
        url('../fonts/PlainGermanica.ttf') format('truetype'),
        url('../fonts/PlainGermanica.svg#PlainGermanica') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.swiper {
  margin-top:20;
  max-width: 100%;
}

.swiper img {
  display: block;
  width: 100%;
  height: 100%;
}

/* end of external */

:root {
  --clr-primary-200: #DDE2C6;
  --clr-primary-300: #D5896F;
  --clr-primary-400: #757761;
  --clr-primary-800: #553A41;

  --dark-grey: #31393C;
  --neutral: #e9f1f7;
  --blue: #2176ff;
  --yellow: #FDCA40;
  --clr-accent-300: #5BC0EB;

  --ff-primary: 'Crimson Pro', serif;
  --ff-accent: 'Almendra', serif;
  --ff-title: 'Plain Germanica', 'Crimson Pro', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

h1 {
  font-family: var(--ff-title);
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-family: var(--ff-accent);
  font-size: 2.5rem;
}

p {
  font-size: 1.3rem;
  font-weight: 500;
}

.bg-light {
  background-color: var(--clr-primary-200);
  color: var(--clr-primary-800);
}

.bg-medium {
  background-color: var(--clr-primary-400);
  color: var(--clr-primary-200);
}

.bg-dark {
  background-color: var(--clr-primary-800);
  color: var(--clr-primary-200);
}

.container {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left, .right {
  text-align: left;
}

.conceptArt {
  display: flex;
  flex-direction: column;
  padding: min(5%, 2rem);
  max-width: 80rem;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.conceptArt > *:not(:last-child) {
  padding-bottom: min(5%, 2rem);
}


.selling-point {
  display: flex;
  flex-direction: column;
  padding: min(5%, 2rem);
  max-width: 80rem;
  min-height: 50rem;
}

.selling-point > *:not(:last-child) {
  margin-bottom: min(2%, 2rem);
}

@media (min-width: 40rem) {
  .selling-point {
    flex-direction: row;
    align-items: center;
  }

  .selling-point > * {
    flex-basis: 100%;
  }

  .selling-point img {
    max-width: 50%;
  }
  
  .left {
    text-align: right;
  }

  .selling-point > * + * {
    margin-left: min(3%, 2rem);
  }

  .selling-point > *:not(:last-child) {
    margin-bottom: 0;
  }
}

/* main landing nav */
.nav-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(9, 19, 53, 0.99);
  position: fixed;
  top: -5.5rem;
  left: 0px;
  z-index: 10;
  transition: ease-out 500ms;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 100rem;
  margin: min(3%, 1rem);
}

nav img {
  width: 200px;
}

nav > img {
  visibility: hidden;
  position: fixed;
  z-index: 2;
  top: 2em;
  right: 2em;
  width: 2em;
}

.link-container {
  display: flex;
  align-items: center;
}

.link-container > img {
  visibility: hidden;
  position: absolute;
  top: 2em;
  right: 2em;
  z-index: 3;
  width: 2em;
}

nav ul {
  list-style-type: none;
  display: inline-block;
  
}

nav li {
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem 0;
  margin: 0 0.5rem;
  transition: ease-out();
  position:  relative;
}

nav li ul {
  display: block;
  position: absolute;
  top: 3em;
  right: -2.3em;
  background-color: rgba(17, 35, 95, 0.99);
  border-radius: 10px;
  padding: 0 10px 10px 10px;
  box-shadow: 5px 5px 10px -5px;
  opacity: 0;
  transition: 250ms ease-out;
}

nav li ul.active {
  opacity: 1;
}

/* nav li::after {
  content:'';
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  transition: width ease-out 250ms;
} */

/* nav li:hover::after {
  width: 100%
} */

nav a {
  text-decoration: none;
  color: white;
  font-family: var(--ff-primary);
  font-size: 1.2em;
}

nav p {
  text-decoration: none;
  color: white;
  font-family: var(--ff-primary);
  font-size: 1.2em;
}

nav button {
  display: inline-block;
  text-align: none;
  background-color: orange;
  border: none;
  padding: 1rem 2rem;
  border-radius: 10px;
}

@media (max-width: 67rem) {
  nav > img {
    visibility: visible;
  }
  
  .link-container > img {
    visibility: visible;
  }

  nav .link-container {
    position: fixed;
    height: 100vh;
    right: -350px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: start;
    z-index: 3;
    background-color: rgba(9, 19, 53, 0.99);
    transition: 250ms;
    transition-timing-function: ease-out;
  }

  nav .links {
    width: 75%;
    display: flex;
    flex-direction: column-reverse;
  }


  nav button {
    margin-top: 7em;
  }
  
  nav li {
    display: block;
    margin-top: 1.5em;
    margin-left: -1rem;
    background-color: transparent;
  }

  nav #more {
    visibility: hidden;
  }

  nav .visible {
    right: 0;
  }

  nav li ul {
    visibility: visible;
    opacity: 1;
    top: -1.6rem;
    left: 0.4rem;
    background-color: inherit;
    box-shadow: none;
  }
}

/* main landing */
.main-landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/Background/main.jpg);
  background-position: left;
  background-size: cover;
  background-attachment: fixed;
}

div.title {
  position: absolute;
  top: 60%;
  left: 50%;
  text-align: center;
  color: white;
  transform: translate(-50%, -50%);
}

/* footer nav */
.footer-wrapper {
  background-color: #31393C;
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
}

footer {
  max-width: 80rem;
  width: 100%;
  display: flex;
  justify-content: space;
  flex-wrap: wrap;
  margin: 1.5rem;
}

.footer-container, .socials-container {
  /* margin: 1rem; */
  width: 20rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-container h3 {
  margin-bottom: 1rem;
}

.footer-container ul li:not(:last-child) {
  margin-bottom: 1rem;
}

.socials-container ul {
  display: flex;
  align-items: center;
}

.socials-container li:not(:last-child) {
  margin-right: 1rem;
}

.socials-container li a {
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: 50%;
  line-height: 38px;
  text-align: center;
  color: var(--dark-grey);
  background-color: white;
  text-decoration: none;
}


.socials-container li a:hover {
  background-color: var(--dark-grey);
  color: white;
}

footer ul {
  list-style-type: none;
}
footer img {
  width: 10rem;
}

footer a {
  color: white;
  align-self: center;
  margin-right: 1rem;
  text-decoration: none;
}

@media (max-width: 1326px) {
  .footer-container {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1007px) {
  .footer-container {
    margin-bottom: 1rem;
  }

  .footer-container {
    order: 5;
  }

  .footer-logo {
    order: -1;
  }
}

@media (max-width: 750px) {
  .footer-container, .socials-container {
    align-items: start;
    margin-left: 10vw;
    order: 1;
  }

  .footer-container li:last-child {
    padding-bottom: 1rem;
  }

  .footer-container::after {
    display: inline-block;
    transform: translateX(10%);
    content: "";
    width: 75%;
    border: 1px solid #3c464a;
  }

  .footer-logo {
    margin-left: 0;
  }
}

@media (max-width: 430px) {
  .socials-container ul li a{
    margin: 0;
  }

  .footer-container, .socials-container {
    margin-left: 0.7em;
  }
}

.view {
  position: fixed;
  top: 0;
}

.playNow{
  display: inline-block;
  text-align: none;
  background-color: orange;
  border: none;
  padding: 1rem 2rem;
  border-radius: 10px;
}
