iframe {
  height: auto;
  width: 100%;
  /* max-width: 55rem; */
  flex: 1;
  border: none;
}

.nav-wrapper {
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 110vh;
  background-color: var(--clr-primary-200);
}

.wrapper h2 {
  align-self: flex-start;
}

.container {
  width: 90%;
  height: 100%;
  max-width: 80rem;
}

.container > * {
  margin-top: 1rem;
}